:root {
  --c1:  #ee92ac;
  --c2:  #fce69c;
  --c3:  #7b72b8;
  --c4:  #a0da85;
  --c5:  #f4e7e9;
  --c6:  #c73d5a;
  --c7:  #b5001e;
  --c8:  #fff8dc;
  --c9:  #d9b23c;
  --c10: #c99300;
  --c11: #d2d0d2;
  --c12: #a2a1ca;
  --c13: #3c3290;
  --c14: #1a0f8c;
  --c15: #e8e8dc;
  --c16: #9cd15b;
  --c17: #5db72c;
  --c18: #3ca800;
}
